body {
    max-width: 960px;
    margin: auto;
    font-family: monospace;
    font-size: 14px;
    background-color: #118ab2;
    background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
}

h1, h2, h4 {
    font-family: "Courier New", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: darkred;
    margin-top: 40px;
}

p {
    font-style: normal;
    text-align: center;
}

.quote {
    font-style: italic;
}

.circular--image {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 30%;
    border: 5px solid #ffd166;
}

.circular--image img {
    height: 600px;
    margin-top: -65px;
}

table {
    width: 100%;
    height: 80px;
    color: darkorchid;
    text-align: center;
    border: 1px solid darkslategrey;
    border-collapse: collapse;
    table-layout: fixed;
}

tr {
    background-color: darkorange;
}

td.favcolor {
    background-color: deepskyblue;
}

td.border {
    border: 1px dotted darkslategrey;
}

.hobbies {
    display: flex;
    align-items: normal;
    justify-content: center;
}

.prevNext {
    display: flex;
    align-items: normal;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}